body {
  background: url(../assets/bg/hp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

.playbtn,
.instructions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.playbtn{
  visibility: visible;
  text-transform: capitalize;
  padding: 1rem 3rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  backdrop-filter: blur(4px) saturate(182%);
  -webkit-backdrop-filter: blur(4px) saturate(182%);
  background-color: rgba(143, 227, 143, 0.771);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-bottom: 1rem;
  transition: background-color linear 0.3s;
}
.playbtn:hover{
  background-color: rgba(18, 225, 18, 0.771);
}

.instructions {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(4px) saturate(182%);
  -webkit-backdrop-filter: blur(4px) saturate(182%);
  background-color: rgba(239, 239, 239, 0.29);
  border-radius: 1.125rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem 3rem;
  color: white;
  font-size: 1.2rem;
}

.instructions>button{
  text-transform: capitalize;
  padding: 1rem 3rem;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  backdrop-filter: blur(4px) saturate(182%);
  -webkit-backdrop-filter: blur(4px) saturate(182%);
  background-color: rgba(143, 227, 143, 0.771);
  border-radius: 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-bottom: 1rem;
  transition: background-color linear 0.3s;
}
.instructions>button:hover{
  background-color: rgba(18, 225, 18, 0.771);
}
.instructions ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-container {
  visibility: hidden;
  max-width: 65rem;
  aspect-ratio: 77.75/41.4375;
  backdrop-filter: blur(4px) saturate(182%);
  -webkit-backdrop-filter: blur(4px) saturate(182%);
  background-color: rgba(239, 239, 239, 0.29);
  border-radius: 3.125rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 1rem 3rem;
  color: white;
  font-weight: 600;
  display: grid;
  place-content: center;
  box-shadow: 0px 0px 20px 27px rgba(0, 0, 0, 0.25);

}

.number {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.5rem;
  font-weight: 600;
  min-width: 2.5rem;
  aspect-ratio: 1;
  backdrop-filter: blur(6px) saturate(182%);
  -webkit-backdrop-filter: blur(6px) saturate(182%);
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.main-container .question {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(6px) saturate(182%);
  -webkit-backdrop-filter: blur(6px) saturate(182%);
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  word-wrap: break-word;
}

.main-container .answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  row-gap: 3rem;
  column-gap: 2rem;
}

.main-container .answers>div {
  font-size: 1.5rem;
  backdrop-filter: blur(6px) saturate(182%);
  -webkit-backdrop-filter: blur(6px) saturate(182%);
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all 0.3s linear;
  padding-block: 0.5rem;
}

.skipBtn {
  width: 15%;
  backdrop-filter: blur(6px) saturate(182%);
  -webkit-backdrop-filter: blur(6px) saturate(182%);
  background-color: rgba(0, 0, 0, 0.62);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  transition: all 0.3s linear;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: auto;
}

.nav {
  margin-top: 2.5rem;
  margin-left: auto;

}

.skipBtn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  background-color: #343a40;
}

.skipBtn:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.skipBtn:hover:after {
  opacity: 1;
  right: 10px;
}

.skipBtn:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}